
<div class="clearfix">
   <%= f.label :title, t("activerecord.attributes.upload.title", :default => "Title"), :class => :label %>
  <div class="input">
    <%= f.text_field :title, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :image, t("activerecord.attributes.upload.image", :default => "Image"), :class => :label %>
  <div class="input">
    <%= f.file_field :image, :class => 'file_field' %>
  </div>
</div>

<div class="form-actions">
  <button class="btn primary" type="submit">Save</button> or
	<%= link_to "Cancel", uploads_path %>
</div>
